@use '../../assets/scss/variables.scss' as *;

aside{
    width: 300px;
    height: 550px;
    background-color: $purple;
    border-radius: 10px;
    overflow: auto;
    padding:30px;
    box-shadow: 0px 0px 40px -20px black;

    nav a{
        width: 100%;
        height: 100px;
        display: block;
        background: $purpleSoft;
        border-radius: 5px;
        margin-bottom: 20px;

        &:last-child{
            margin-bottom: 0;
        }
    }
}